<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    
    <div class="container mt-5">
    <form>
        <div class="col-md-9">
            <div class="input-group mb-3">
              <span class="input-group-text">Data</span>
              <input type="date" class="form-control" id="campoDataAtendimentoAluno" placeholder="Data" aria-label="aluno_data">
              <span class="input-group-text">Enfermeira</span>
              <input type="text" class="form-control" id="campoEnfermeiraAtendimentoAluno" placeholder="Enfermeira" aria-label="aluno_enfermeira">
              <span class="input-group-text">Enfermaria</span>
              <input type="text" class="form-control" id="campoEnfermariaAtendimentoAluno" placeholder="Enfermaria" aria-label="aluno_enfermaria">            
            </div>
            <div class="row mb-3"> 
              <div class="col-md-3">
                <div class="input-group"> 
                  <span class="input-group-text">ID</span>
                  <input type="number" class="form-control" id="campoIdAluno" placeholder="RA do Aluno" aria-label="aluno_id" >
                </div>
              </div>
              <div class="col-md-9">
                <div class="input-group"> 
                  <span class="input-group-text">Nome</span>
                  <input type="text" class="form-control" id="campoNomeAluno" placeholder="Nome do Aluno" aria-label="name" >
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="input-group"> 
                  <span class="input-group-text">Sexo</span>
                  <input type="text" class="form-control" id="campoSexoAluno" placeholder="Sexo" aria-label="aluno_sexo">
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group"> 
                  <span class="input-group-text">Idade</span>
                  <input type="number" class="form-control" id="campoIdadeAluno" placeholder="Idade" aria-label="aluno_idade">
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-text">Turma</span>
                  <input type="text" class="form-control" id="campoTurmaAtualAluno" placeholder="Turma" aria-label="aluno_turma">
                </div>
              </div> 
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-text">Aula</span>
                  <input type="text" class="form-control" id="campoAulaAtualAluno" placeholder="Aula atual" aria-label="aluno_aula">
                </div>
              </div> 
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Alergias</span>
              <input type="text" class="form-control" id="campoQueixaAluno" placeholder="Alergias" aria-label="aluno_alergia">
            <div class="input-group mb-3 mt-3">
              <span class="input-group-text w-100">Ocorrência</span>
              <textarea class="form-control" id="campoOcorrenciaAluno" placeholder="Ocorrência" aria-label="aluno_ocorrencia"></textarea>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-100">Procedimentos</span>
              <textarea class="form-control" id="campoProcedimentoAluno" placeholder="Procedimentos" aria-label="aluno_procedimento"></textarea>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-100">Observações</span>
              <textarea class="form-control" id="campoObservacaoAluno" placeholder="Observações" aria-label="aluno_observacao"></textarea>
            </div>
          
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="contatoPaisCheck">
              <label class="form-check-label" for="contatoPaisCheck">
                Entrou em contato com os pais
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="reavaliacaoAlunoCheck">
              <label class="form-check-label" for="reavaliacaoAlunoCheck">
                Reavaliação
              </label>
            </div>
          </div>


        



        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>




      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>