{% extends "base.html" %}
{% load static %}

{% block title %}Atendimento - Enfermaria Beit Yaacov{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Informações do Aluno</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <th>
                    <form class="forms-sample">
                      <div class="form-group">
                        <div class="row">
                          <label for="allergies"><b>Alergias:</b></label>
                          <input type="text" class="form-control mb-3" id="allergies" value="{{ student.info.allergies }}">
                          <label for="student-notes">Observações do Aluno:</label>
                          <textarea class="form-control" id="student-notes" rows="8">{{ student.info.patient_notes }}</textarea>
                        </div>
                      </div>
                    </form>
                  </th>
                  <th>
                    <img src="{% static 'assets/images/faces/fotos/' %}{{ student.registry }}.jpg"
                         class="mb-5" width="200" height="250" alt="Foto do aluno">
                  </th>
                </thead>
                <tbody>
                  <tr style="display: none;"><th>ID</th><td id="student-id" >{{ student.id }}</td></tr>
                  <tr><th>Nome</th><td>{{ student.name }}</td></tr>
                  <tr><th>Turma</th><td>{{ student.class_group_name }}</td></tr>
                  <tr><th>RA</th><td>{{ student.registry }}</td></tr>
                  <tr><th>Idade</th><td>{{ student.age }}</td></tr>
                  <tr><th>Data de nascimento</th><td>{{ student.birth_date }}</td></tr>
                  <tr><th>Gênero</th><td>{{ student.gender }}</td></tr>
                  <tr><th>Nome da Mãe</th><td>{{ student.mother_name }}</td></tr>
                  <tr><th>Telefone da Mãe</th><td>{{ student.mother_phone }}</td></tr>
                  <tr><th>Nome do Pai</th><td>{{ student.father_name }}</td></tr>
                  <tr><th>Telefone do Pai</th><td>{{ student.father_phone }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Atendimento</h4>
            <p class="card-description">Informações do atendimento</p>
            <form class="forms-sample" method="POST">  
              {% csrf_token %}
              <div class="form-group">
                <label for="current_class">Aula atual:</label>
                <input type="text" class="form-control" id="current-class">
              </div>
              <div class="form-group">
                <label for="reason">Ocorrência:</label>
                <textarea class="form-control" id="reason" rows="4"></textarea>
              </div>
              <div class="form-group">
                <label for="treatment">Procedimentos:</label>
                <textarea class="form-control" id="treatment" rows="4"></textarea>
              </div>
              <div class="form-group">
                <label for="notes">Observações:</label>
                <textarea class="form-control" id="notes" rows="4"></textarea>
              </div>
              <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="revaluation"> Reavaliação
                </label>
              </div>
              <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="contact-parents"> Contato com os pais
                </label>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Enfermeira:</label>
                    <div class="col-sm-9">
                      <input id="userFirstName" name="userFirstName" type="text" class="form-control" readonly/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Enfermaria:</label>
                    <div class="col-sm-9">
                      <input id="selectedInfirmary" type="text" class="form-control" readonly />
                    </div>
                  </div>
                </div>
              </div>
              <button id="student-submit-button" type="submit" class="btn btn-primary mr-2">Salvar</button>
              <a href="{% url 'index' %}" class="btn btn-light">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block extra_scripts %}
<!-- Form Script -->
<script src="{% static 'assets/js/form-submit-student.js' %}"></script>

{% endblock %}
