{% extends "base.html" %}
{% load static %}

{% block title %}Atendimento - Visitante{% endblock %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Atendimento - Visitante</h4>
            <form class="form-sample" method="POST">
              {% csrf_token %}
              <p class="card-description">Informações do paciente</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nome:</label>
                    <div class="col-sm-9">
                      <input id="name" type="text" class="form-control" value="{{ visitor.name }}" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Idade:</label>
                    <div class="col-sm-9">
                      <input id="age" type="number" class="form-control" value="{{ visitor.age }}" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">E-mail:</label>
                    <div class="col-sm-9">
                      <input id="email" type="email" class="form-control" value="{{ visitor.email }}" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Gênero:</label>
                    <div class="col-sm-9">
                      <select id="gender" class="form-control">
                        <option {% if visitor.gender == 'Masculino' %}selected{% endif %}>Masculino</option>
                        <option {% if visitor.gender == 'Feminino' %}selected{% endif %}>Feminino</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Alergias:</label>
                    <div class="col-sm-9">
                      <input id="allergies" class="form-control" value="{{ visitor.allergies }}" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Relação com a Escola:</label>
                    <div class="col-sm-9">
                      <input id="relationship" class="form-control" value="{{ visitor.relationship }}" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Observações do Paciente:</label>
                    <div class="col-sm-9">
                      <textarea id="visitor-notes" rows="4" class="form-control">{{ visitor.patient_notes }}</textarea>
                    </div>
                  </div>
                </div>
                <input type="hidden" id="visitor-id" name="visitor-id" value="{{ visitor.id }}">
              </div>

              <p class="card-description">Informações do atendimento</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Ocorrência:</label>
                    <div class="col-sm-9">
                      <textarea id="reason" class="form-control" rows="4"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Procedimentos:</label>
                    <div class="col-sm-9">
                      <textarea id="treatment" class="form-control" rows="4"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Observações:</label>
                    <div class="col-sm-9">
                      <textarea id="notes" class="form-control" rows="4"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="revaluation"> Reavaliação
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Enfermeira:</label>
                        <div class="col-sm-8">
                          <input id="userFirstName" type="text" class="form-control" value="{{ user.first_name }}" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Enfermaria:</label>
                        <div class="col-sm-8">
                          <input id="selectedInfirmary" type="text" class="form-control" readonly />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button id="visitor-submit-button" type="submit" class="btn btn-primary mr-2">Salvar</button>
              <a href="{% url 'index' %}" class="btn btn-light">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Form Script -->
<script src="{% static 'assets/js/form-submit-visitor.js' %}"></script>

{% endblock %}
