<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Block for dynamic page title -->
    <title>{% block title %}Enfermaria Beit Yaacov{% endblock %}</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vertical-layout-light/style.css' %}">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/BY_logo_WHITE.png' %}" />

    <!-- Block for extra CSS if needed -->
    {% block extra_css %}{% endblock %}
  </head>

  <body>

    <div class="container-scroller">

      <!-- Navbar (Top Menu) -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <!-- Logo -->
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo mr-5" href="{% url 'index' %}">
            <img src="{% static 'assets/images/2logo365x90.svg' %}" class="mr-2" alt="logo"/>
          </a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}">
            <img src="{% static 'assets/images/logo90x73.svg' %}" alt="logo"/>
          </a>
        </div>

        <!-- Right Side Menu -->
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          
          <!-- Block for customizable navbar content -->
          {% block navbar_content %}
          <!-- Menu Minimize Button -->
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>

          <!-- Notifications -->
          <ul class="navbar-nav navbar-nav-right">
            <li  class="nav-item dropdown">
              <a style="display: none;" class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="icon-bell mx-0"></i>
                <span class="count"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Notificações</p>

                <!-- Error Notification -->
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="ti-info-alt mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Erro de Aplicação</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      Agora mesmo
                    </p>
                  </div>
                </a>

                <!-- Settings Notification -->
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="ti-settings mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Configurações</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      Mensagem privada
                    </p>
                  </div>
                </a>

                <!-- New User Notification -->
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="ti-user mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Novo registro de usuário</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      Há 2 dias
                    </p>
                  </div>
                </a>
              </div>
            </li>

            <!-- User Profile -->
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="{% static 'assets/images/nurse2.png' %}" alt="profile"/>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <form id="logoutForm" method="GET" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <a class="dropdown-item" id="logoutButton" href="#">
                    <i class="ti-power-off text-primary"></i>
                    Logout
                  </a>
                </form>
              </div>
            </li>
          </ul>

          <!-- Toggle Button for Offcanvas Menu (Mobile) -->
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
          {% endblock %}
        </div>
      </nav>
      <!-- End of Navbar -->

      
      <!-- Page Body Wrapper -->
      <div class="container-fluid page-body-wrapper">
        
        <!-- Block for customizable sidebar -->
        {% block sidebar %}
        <!-- Sidebar (Left Menu) -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item mb-5">
              <a class="nav-link" data-toggle="collapse" href="#infirmaryDropdown" aria-expanded="false" aria-controls="infirmaryDropdown">
                <i class="ti-home menu-icon"></i>
                <span class="menu-title">Enfermaria</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="infirmaryDropdown">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#infirmaryDropdown" onclick="saveInfirmary('Infantil')">Infantil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#infirmaryDropdown" onclick="saveInfirmary('Fundamental')">Fundamental</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#infirmaryDropdown" onclick="saveInfirmary('Ensino Médio')">Ensino Médio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#infirmaryDropdown" onclick="saveInfirmary('Atendimento Externo')">Atendimento Externo</a>
                  </li>
                </ul>
              </div>
            </li>
            
            

            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <i class="ti-pulse menu-icon"></i>
                <span class="menu-title">Home</span>
              </a>
            </li>
             
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#appointment" aria-expanded="false" aria-controls="appointment">
                <i class="ti-receipt menu-icon"></i>
                <span class="menu-title">Novo Atendimento</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="appointment">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'student_identify' %}">Aluno</a>
                  </li>
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'employee_identify' %}">Colaborador</a>
                  </li>
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'visitor_identify'%}">Visitante</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#records" aria-expanded="false" aria-controls="records">
                <i class="ti-clipboard menu-icon"></i>
                <span class="menu-title">Prontuário</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="records">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'student_search_record' %}">Aluno</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'employee_search_record' %}">Colaborador</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#reports" aria-expanded="false" aria-controls="reports">
                <i class="ti-stats-up menu-icon"></i>
                <span class="menu-title">Relatórios</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="reports">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'search_reports' %}">Pesquisa</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Sidebar -->
        {% endblock %}
        
        <!-- Block for main page content -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %}
            <!-- The content of each child page goes here -->
            {% endblock %}
          </div>
        </div>
        
      </div>   
      <!-- End of Page Body Wrapper -->

    </div>
    <!-- End of Container Scroller -->

    <!-- Main Scripts -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>

    <!-- Session Scripts -->
    <script src="{% static 'assets/js/session.js' %}?v=0.1"></script>

    <!-- JQuery Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Base Scripts -->
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>

    <!-- Block for extra scripts if needed -->
    {% block extra_scripts %}
        
    <!-- Custom Scripts -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/Chart.roundedBarCharts.js' %}"></script>
    
    {% endblock %}
  
  </body>
  
</html>
