{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-2 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Colaborador</h4>
                <img src="{% static 'assets/images/faces/face30.jpg' %}"
                               class="mb-" width="200" height="220" alt="Foto do aluno">
            </div>
        </div>
    </div>
    <div class="col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Informações do Colaborador</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Nome</th>
                            <td>{{ employee.name }}</td>

                            <th>Departamento</th>
                            <td>{{ employee.department }}</td>   
                        </tr>
                        <tr>
                            <th>Nº do Crachá</th>
                            <td>{{ employee.registry }}</td>
                            
                            <th>Data de nascimento</th>
                            <td>{{ employee.birth_date }}</td>

                        </tr>
                        <tr>
                            <th>Idade</th>
                            <td>{{ employee.age }}</td>
                            <th>Gênero</th>
                            <td>{{ employee.gender }}</td>         
                        </tr>
                    
                        </tbody>
                      </table>
                      
                      
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Atendimentos</h4>
                <div class="table-responsive">                   
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Enfermaria</th>
                            <th>Enfermeira</th>
                            <th>Data</th>
                            <th>Departamento</th>
                            <th>Ocorrência</th>
                            <th>Procedimentos</th>
                            <th>Observações</th>
                            <th>Reavaliação</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointment %}
                            <tr>
                                <td>{{ appointment.infirmary }}</td>
                                <td>{{ appointment.nurse }}</td>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointment.department }}</td>
                                <td>{{ appointment.reason }}</td>
                                <td>{{ appointment.treatment }}</td>
                                <td>{{ appointment.notes }}</td>
                                <td>{{ appointment.revaluation }}</td>

                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9">Nenhum atendimento encontrado.</td>
                            </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>
</div>



{% endblock %}