{% extends "base.html" %}

{% load static %}

{% block title %}Buscar Aluno - Enfermaria Beit Yaacov{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Buscar Aluno</h4>
        <p class="card-description">
          Digite o nome ou o RA do aluno para buscar informações no sistema.
        </p>

        {% if error_message %}
          <div class="alert alert-danger">
              {{ error_message }}
          </div>
        {% endif %}
        <form id="searchForm" action="{% block form_action %}{% url 'student_appointment' %}{% endblock %}" method="GET" class="form-inline">
        {% csrf_token %}
            
            <label class="mr-2" for="name">Nome</label>
            <input type="text" class="form-control mr-2" id="student-name-input" name="name" placeholder="Digite o nome do aluno">
           
            <label class="mr-2" for="registry">RA</label>
            <input type="text" class="form-control mr-2" id="student-registry-input" name="registry" placeholder="Digite o RA do aluno">
            
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
        <div id="error-message-container" class="mt-3"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card" id="results-container" style="display: none;">
    <div class="card-body">
        <h4 class="card-title">Resultados da Busca - Alunos</h4>
        <div class="table-responsive">
            <table class="table table-hover" id="results-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>RA</th>
                        <th>Idade</th>
                        <th>Turma</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Search results will be inserted here -->
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Main jQuery script for this page -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Form scripts -->
<script src="{% static 'assets/js/form.js' %}?v=1.0"></script>

<!-- Plugin js for this page -->
<script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assets/js/dataTables.select.min.js' %}"></script>

<!-- Custom js for this page -->
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/js/Chart.roundedBarCharts.js' %}"></script>
<script src="{% static 'assets/js/search.js' %}"></script>
{% endblock %}
