{% extends "base.html" %}
{% load static %}

{% block title %}Buscar Visitante - Enfermaria Beit Yaacov{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Buscar Visitante</h4>
        <p class="card-description">
          Deixe em branco caso seja a primeira vez do paciente.
        </p>
        {% if error_message %}
          <div class="alert alert-danger">
              {{ error_message }}
          </div>
        {% endif %}
        <form id="visitorSearchForm" action="{% url 'visitor_appointment' %}" method="GET" class="form-inline">
        {% csrf_token %}
            
            <label class="mr-2"for="name">Nome</label>
            <input type="text" class="form-control mr-2" name="name" id="visitor-name-input" placeholder="Digite o nome do paciente">

            <label class="mr-2" for="email">E-mail</label>
            <input type="email" class="form-control mr-2" name="email" id="visitor-email-input" placeholder="Digite o e-mail do paciente">

            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card" id="results-container" style="display: none;">
    <div class="card-body">
        <h4 class="card-title">Resultados da Busca - Visitantes</h4>
        <div class="table-responsive">
            <table class="table table-hover" id="results-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Search results for visitors will be inserted here -->
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Main jQuery script for this page -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Plugin js for this page -->
<script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assets/js/dataTables.select.min.js' %}"></script>

<!-- Custom js for this page -->
<script src="{% static 'assets/js/form.js' %}?v=1.0"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/js/Chart.roundedBarCharts.js' %}"></script>
<script src="{% static 'assets/js/search.js' %}"></script>
{% endblock %}
